/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27-set-2015, 15.40.58
    Author     : Alex
*/


.invia-cv .container-form{
    width:100%;
    background:#e2e2e2;
    padding-top:35px;
    padding-bottom:35px;
}

.invia-cv input, .invia-cv select{
    width:100%;
    height: 35px;
    font-family: 'Oswald';
    color:#000;
    margin-bottom: 8px;
    font-size:15px;
    text-transform: uppercase;
    border: none;
    padding: 2px;
    padding-right: 25px;
}

.invia-cv label, .title {
    font-size:15px;
    font-family:'Oswald';
    text-transform: uppercase;
    font-weight: normal;
}

.invia-cv .title {
    margin-bottom:5px;
}

.invia-cv select {
    -webkit-appearance:none;
    -moz-appearance: none;
    background: #fff url('images/mobile/hamburger-menu.png') no-repeat right center;
    background-size: 25px 30px;    
}

.image-curriculum{
    width:59px;
    height: 55px;
    background: url('images/invio-cv-icona.png') no-repeat center center;
    margin:auto;
    margin-bottom:10px;
}

.field.invia-curriculum{
    text-align: center;
    margin-top:25px;
    margin-bottom:15px;
}

.field.invia-curriculum input{
   width:300px;
   height: auto;
   margin:auto;   
   text-overflow: ellipsis;
}


.label-upload input[type="file"] {
    display:none;
}

/***** Example custom styling *****/
.label-upload {
    border: none;    
    padding: 2px 5px;    
    background: #067a36;
    display: block;
    max-width:150px;
    font-family: 'Oswald';
    color:#fff;
    height: 35px;
    margin:auto;
    cursor: pointer;
}

.label-upload span{
    color:#fff;
    line-height: 32px;
}
.label-upload:hover {
    background: #CCC;
}
.label-upload:hover span{
    color:#067a36;
}

.label-upload:active {
    background: #CCF;
}

.privacy-field {
    font-family: 'Oswald';
    text-transform: uppercase;
    font-size:12px;
    margin-bottom:15px;
    color:#000;
}

.privacy-field a {
    color:#067a36;
    text-decoration: none;
}

.privacy-field input {
    width:auto;
    float: left;
    margin-right: 10px;    
    height: auto;
}

.submit-button{
    padding-top:25px;
}

.submit-button input, .submit-button input:hover  {
    font-size: 15px !important;
    color: #0B3A08 !important;
    text-decoration: none !important;
    display: block !important;
    width: 210px !important;
    height: 55px !important;
    line-height: 40px !important;
    border: 3px solid #7CD7A1 !important;
    border-radius: 30px !important;
    margin: auto !important;
    background:transparent !important;
    font-family: 'Oswald' !important;
    padding:0 !important;
}


.table-cvs {
    border:1px solid #999;
    border-collapse: collapse;
    width:95%;
    margin:auto;
    margin-top:10px;
}

.table-cvs thead{ font-weight: bold;}
.table-cvs thead tr {background:#ddd}
.table-cvs thead tr td{border:1px solid #999}
.table-cvs tr td{padding:10px; border:1px solid #ddd}

.ok {
    text-align: center;
    padding:20px;
    border:4px solid rgb(39, 174, 96);
    font-family: 'Oswald';
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-size: 15px;
}

.ko {
    text-align: center;
    padding:20px;
    border:4px solid #f00;
    font-family: 'Oswald';
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-size: 15px;
}

#risultati-cv {margin-top:30px;}

.pre-form p, .post-form p, .post-form ul {color:#555}
.pre-form h2, .pre-form h4, h3.green, h2.green, .post-form h2, #ricerca-cv label, #inserimento-cv label, #inserimento-cv .title, .table-cvs thead td {color: rgb(47, 103, 42)}

.logo-image {max-height: 52px}

.container-pre-form {
    width:100%;
    background: #f2f2f2;
}

.pre-form{
    padding-top:45px;
    padding-bottom: 45px;
}

.pre-form h2 {
    font-family: 'Oswald';
    font-size:25px;
    color:#000;
    text-transform: uppercase;
}

.pre-form p {
    font-family: 'Open Sans';
    font-size:20px;
    line-height: 25px;
    color: #000;
}

.container-title{
    width:100%;
    background:#109f49;   
}
.container-title h2 {
     color:#fff;
     font-family: 'Oswald';
     font-size:25px;
     text-transform: uppercase;
     margin:0;
     text-align: center;
     padding-top:15px;
     padding-bottom:15px;
}

.container-post-form{
    width:100%;
    background:#f2f2f2;
    padding-top:40px;
    padding-bottom: 50px;
    font-family: 'Open Sans';
    color: #000;
}

.post-form p.link {
    float:left;
    margin-right: 20px;    
    font-size:15px;
    font-weight: 400;
     color:#000;
}

.post-form p {
    color:#000;
}

.post-form .button-link{
    max-width:120px;
    max-height:30px;
    background:#067a36;
    color:#fff;
    line-height: 30px;
    display: block;
    text-align: center;
    
    margin:auto;
}

.post-form .description-cv{
    font-size:20px;
     color:#000;
}

.post-form .description-cv ul {
    list-style: inherit;
     color:#000;
     margin-bottom: 10px;
}

.post-form .description-cv ul li {
    margin-left:25px;
    color:#000;
}

/** TABLET **/
@media (min-width: 768px) {
    .invia-cv select{       
        background: #fff url('images/select-arrow.png') no-repeat 98% center;
        background-size:12px 5px;        
    }
    
    .privacy-field {
        padding-top: 55px;    
    }
    
    .post-form .img-componi-curriculum {
        width:472px;
        height: 153px;
        float:left;
        background:url('images/info-cv.png') center center no-repeat;
        background-size: contain;
        margin-left:80px;
    }
    
    .post-form .description-cv{
        padding-top:55px;
    }
    
    .post-form p.link{
        margin-left:-320px;
    }
    
    .post-form p.link, .post-form .button-link {
        margin-top: 100px;
    }
    
    .image-curriculum {
        float: left;
        margin-right: 25px;
    }
    
    .field.invia-curriculum {
        text-align: left;
    }
    
    .field.invia-curriculum input {
        margin:0;
        width:390px;
    }
}

/** RETINA  **/
@media  (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
    .invia-cv select{       
        background: #fff url('images/retina-select-arrow.png') no-repeat 98% center;
        background-size:12px 5px;        
    } 
    
    .image-curriculum{       
        background: url('images/retina-invio-cv-icona.png') no-repeat center center;
        background-size:contain;
    }
    
    .post-form .img-componi-curriculum {        
        background:url('images/retina-info-cv.png') center center no-repeat;
        background-size: contain;
       
    }
}

